<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp7.Properties.MasterVM" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp7.Properties.MasterVM>
            <setting name="GlobalLogLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusMessage" serializeAs="String">
                <value />
            </setting>
        </WpfApp7.Properties.MasterVM>
    </userSettings>
</configuration>